<img src="https://i.imgur.com/2pGaXBV.jpg"><br>
Bahasa pemrograman interpretatif multiguna dengan filosofi perancangan yang berfokus pada tingkat keterbacaan kode(Wikipedia). Python sangat cocok digunakan untuk kecerdasan buatan, sains data, dan pengembangan aplikasi <i>website</i>(<i>back-end</i>).

## 1. Tipe data, <i>input-output</i>, dan penugasan pada variabel
<img src="https://i.imgur.com/3pS3QbE.jpg">

#### 1.1 <i>Output

In [1]:
print("Halo dunia!")

Halo dunia!

#### 1.2 <i>Tipe data

In [2]:
print(type(1))
print(type(1.0))
print(type("1"))

<class 'int'>
<class 'float'>
<class 'str'>

#### 1.3 <i>Input

In [3]:
a = input("Masukkan sesuatu : ")
print("Tadi aku memasukkan", a, "yang memiliki tipe data", type(a))

Masukkan sesuatu : Belajar AI Bareng ILC
Tadi aku memasukkan Belajar AI Bareng ILC yang memiliki tipe data <class 'str'>

#### 1.4 Menghapus vairabel

In [4]:
del a
print(a)

NameError: name 'a' is not defined

#### 1.5 Lainnya

In [5]:
# KALKULATOR SEDERHANA

print(1+1)
print(3-4)
print(2*5)
print(9/2)
print(6**6)

2
-1
10
4.5
46656

In [6]:
# MENGGABUNGKAN KALIMAT(str)

"ILC" + " " + "UPNVJT"

'ILC UPNVJT'

In [7]:
# OPERASI ARITMATIKA DENGAN STR

" ILC! "*3

' ILC!  ILC!  ILC! '

In [8]:
# BOOLEAN

print(1 <= 2)
print(2 == 3)
print(1 == 1.0)

True
False
True

### 1.6 Contoh Penerapan

In [9]:
alas = float(input("Masukkan nilai alas segitiga : "))
tinggi = float(input("Masukkan nilai tinggi segitiga : "))

luas = alas*tinggi/2

print("\nLuasnya adalah", luas)

Masukkan nilai alas segitiga : 8
Masukkan nilai tinggi segitiga : 9

Luasnya adalah 36.0

## 2. Percabangan
<img src="https://i.imgur.com/2suyhRN.jpg">

#### 2.1 Standar

In [10]:
if (luas <= 50):
    print("Luas daerah kecil")
else:
    print("Luas daerah ndak kecil")

Luas daerah kecil

In [11]:
if (luas <= 50):
    print("Luas daerah kecil")
elif (luas >= 50 and luas <= 100):
    print("Luas daerah lumayan")
else:
    print("Luas daerah ndak kecil")

Luas daerah kecil

#### 2.2 Satu baris

In [12]:
print("kecil") if luas <=50 else print("besar")

kecil

## 3. Perulangan
<img src="https://i.imgur.com/GQzydRM.jpg">

#### 3.1 for

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

#### 3.2 while

In [14]:
i = 0
while(i<10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

## 4. Operasi <i>list, tuple, dictionaries</i>
<img src="https://i.imgur.com/HpTzGfX.jpg">

#### 4.1 <i>List</i>
Sama dengan <i>array</i> pada bahasa pemrograman yang lain, hanya saja <i>list</i> lebih dinamis.

In [15]:
larik = [2,4,6,8,10]
print(larik)

[2, 4, 6, 8, 10]

In [16]:
len(larik)

5

In [17]:
larik.append(12)
print(larik)

[2, 4, 6, 8, 10, 12]

In [18]:
larik.reverse()
print(larik)

[12, 10, 8, 6, 4, 2]

In [19]:
larik.sort()
print(larik)

[2, 4, 6, 8, 10, 12]

#### Akses elemen berdasarkan indeks

In [20]:
print(larik[0])
print(larik[-1])
print(larik[2])
print(larik[1:4])

2
12
6
[4, 6, 8]

#### Perulangan pada <i>list

In [21]:
for elemen in larik:
    print(elemen)

2
4
6
8
10
12

In [22]:
for i in range(len(larik)):
    print(i)

0
1
2
3
4
5

In [23]:
print(larik[0])
print(larik[-1])

2
12

In [24]:
del larik[0]

print(larik)

[4, 6, 8, 10, 12]

In [25]:
larik.remove(10)

print(larik)

[4, 6, 8, 12]

In [26]:
larik_kuadrat = []

for i in larik:
    larik_kuadrat.append(i**2)
    
print(larik_kuadrat)

[16, 36, 64, 144]

<a href="https://github.com/Rakhid16/NumPy-Dasar/blob/master/Operasi-operasi%20List.ipynb">Selengkapnya</a>

#### 4.2 <i>Tuple</i>
Bentuk lain dari <i>list</i>.<br>
<i>Tuple</i> jarang digunakan.<br>
<i>List</i> lebih enak.

In [27]:
tuple_angka_ganjil = (1,3,5,7,9)

print(tuple_angka_ganjil)

(1, 3, 5, 7, 9)

In [28]:
for i in tuple_angka_ganjil:
    print(i)

1
3
5
7
9

In [29]:
9 in tuple_angka_ganjil

True

In [30]:
2 in tuple_angka_ganjil

False

#### 4.3 <i>Dictionaries</i>
Sekumpulan data yang terdiri dari sepasang kunci(<i>key</i>) dan nilai(<i>value</i>).

In [31]:
dict_kamus = {"satu":1, "dua":2, "tiga":3, "empat":4, "lima":5}

In [32]:
dict_kamus.keys()

dict_keys(['satu', 'dua', 'tiga', 'empat', 'lima'])

In [33]:
dict_kamus.values()

dict_values([1, 2, 3, 4, 5])

In [34]:
dict_kamus["satu"]

1

In [35]:
dict_kamus["lima"]=5

print(dict_kamus)

{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

In [36]:
dict_kamus.pop("satu")

print(dict_kamus)

{'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

#### Contoh penerapan <i>list</i>

In [37]:
nama_mhs = []
jurusan_mhs = []
kota_asal_mhs = []
lanjut = 'y'

while(lanjut=='y'):
    nama = input("Masukkan nama mahasiswa : ")
    jurusan = input("Masukkan jurusan : ")
    kota = input("Masukkan kota asal mahasiswa : ")
    
    nama_mhs.append(nama)
    jurusan_mhs.append(jurusan)
    kota_asal_mhs.append(kota)
    
    lanjut = input("Tambah data lagi?(y/n) :")
    
for i in range(len(nama_mhs)):
    print(nama_mhs[i], "kuliah di jurusan", jurusan_mhs[i], "kota asalnya", kota_asal_mhs[i])

Masukkan nama mahasiswa : Ikal
Masukkan jurusan : Teknik Informatika
Masukkan kota asal mahasiswa : Jombang
Tambah data lagi?(y/n) :y
Masukkan nama mahasiswa : Gugun
Masukkan jurusan : Teknik Perpipaan
Masukkan kota asal mahasiswa : Jepara
Tambah data lagi?(y/n) :n
Ikal kuliah di jurusan Teknik Informatika kota asalnya Jombang
Gugun kuliah di jurusan Teknik Perpipaan kota asalnya Jepara

## 5. Fungsi
<img src="https://i.imgur.com/nqRKjfw.jpg">

#### 5.1 Tanpa argumen

In [38]:
def segitiga():
    alas = input("Masukkan nilai alas : ")
    tinggi = input("Masukkan nilai tinggi : ")
    
    luas = int(alas)*int(tinggi)/2
    print(luas)

In [39]:
segitiga()

Masukkan nilai alas : 7
Masukkan nilai tinggi : 2
7.0

#### 5.2 Dengan argumen

In [40]:
def segitiga(alas, tinggi):
    return alas*tinggi/2

In [41]:
alas = input("Masukkan nilai alas : ")
tinggi = input("Masukkan nilai tinggi : ")

Masukkan nilai alas : 2
Masukkan nilai tinggi : 7

In [42]:
segitiga(int(alas),int(tinggi))

7.0

Makasih banyak!<br>
Ini adalah beberapa tempat buat belajar bahasa pemrograman Python lebih lanjut :
1. Code Academy
2. TutorialsPoint
3. Codementor
4. PythonChallenge
5. Google’s Python
6. Python org
7. Learn Python Hard Way
8. LearnPython org
9. Invent with Python
10. Dive into Python
11. Python for Beginners
12. Pythonspot
13. Learning Py Magic Methods
14. AfterHoursProgramming
15. NewCircle
16. Byte of Py Online
17. Coursera-Rice University
18. Think Py Online Book
19. Django Video Series
20. Py Interactive Coding Environment
21. Interactive Python
22. Code Nerd Python
23. Python Fundamentals
24. Learning to Program Version 3
25. Intro to CS- Udacity
26. Python Crash Course
27. Python Tutor
28. Real Python (sumber gambar)
29. Full Stack Python
30. PythonLearn
31. NewBoston Basic
32. CS for All
33. Twilio Blog: Py Projects
34. Intro to Programming with Py
35. Think Python
36. Matt Makai
37. Programming Foundations Python
38. Py for You and Me
39. Practical Business Py
40. Talk Python to Me
41. Learn Python 3 in Y Minutes
42. Elements of Py Style
43. Hitchhiker’s
44. Good to Great Py Reads
45. Awesome-Python
46. Python Weekly
47. CheckiO
48. Building a PyPet
49. Python Guru
50. Python Tips

<img src="https://i.imgur.com/HeKpvmr.jpg">